.best-1 {
  position: relative;
  padding-top: 10vh;
  font-family: 'DM Sans', sans-serif;
  margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.best-1 .best01 span {
  font-size: 20px;
  float: left;
  margin-bottom: 10px;
}
.best-1 .best01 li {
  list-style: none;
  float: left;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 15px;
}
.best-1 .best01 li button {
  float: left;
  color: #fff;
  padding: 5px 10px;
  background-color: #808080;
  border: none;
}

.best .image {
  margin-top: 5vh;
}

.best a {
  text-decoration: none;
  color: #000;
}
.best .image img {
  width: 100%;
}
.best .image a span {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  float: left;
}

.best .image a p {
  font-size: 13px;
  float: left;
  position: relative;
  bottom: 10px;
}

.best .image a p .eye {
  width: 15%;
  position: relative;
  top: 3px;
}

@media screen and (min-width: 768px) {
  .desk-menu {
    display: none;
  }
  .best-1 {
    margin: auto;
    width: 100%;
    position: relative;
    padding-top: 10vh;
    font-family: 'DM Sans', sans-serif;
    margin-left: auto;
      margin-right: auto;
      width: 95%;
  }
  .best01 {
    display: grid;
  }
  .best-1 .best01 span {
    font-size: 20px;
    font-weight: 500;
    float: left;
    position: relative;
    left: -290px;
    padding-bottom: 10px;
   
  }
  .best-1 .best01 li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    left: 18px;
    margin-bottom: -25px;
   
  }
  .best-1 .best01 li button {
    float: left;
    color: #fff;
    padding: 5px 10px;
    background-color: #808080;
    border: none;
  }
 
  .best {
    margin: auto;
    width: 100%;
    margin-top: 1vh;
    font-family: 'DM Sans', sans-serif;
  }
  
  .best .image {
    margin-top: 5vh;
    width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .best .image img {
    width: 100%;
  }
  
  .best a {
    text-decoration: none;
    color: #000;
  }
  
  .best .image a span {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    float: left;
  }
  
  .best .image a p {
    font-size: 15px;
    position: relative;
    bottom: 15px;
  }
  
  .best .image a p .eye {
    position: relative;
    top: 3px;
    width: 13%;
  }
}


      /*SMALL SCREEN LAPTOP*/

      @media only screen and (min-width:1025px) {
        .best-1 {
          padding-top: 10vh;
        }
        .best01 {
          width: 80vw;
          max-width: 100%;
        }
        .best01 span {
          text-align: left;
          margin-left: 49vw;
        }
        .best01 .filter {
          padding-left: 19vw;
        }
        .best {
          width: 80vw;
          max-width: 100%;
          padding-top: 5vh;
        }
        .best .img-container {
          display: flex;
          gap: 14px;
          width: 15vw;
          padding-left: 13vw;
          margin-top: -6vh;
          text-align: left;
        }
        .best .img-container .image a span {
          width: 14vw;
          font-size: 0.75em;
        }
        .best .img-container .image a p {
          width: 100%;
      
        }
        .img-container .image a p .eye {
          width: 12px;
          height: 12px;
          position: relative;
          top: 2px;
        }
      }
      
      @media only screen and (min-width:1440px) {
        .best-1 {
          padding-top: 10vh;
        }
        .best01 {
          width: 80vw;
          max-width: 100%;
          margin-top: -3vh;
        }
        .best01 span {
          text-align: left;
          margin-left: 42vw;
        }
        .best01 .filter {
          padding-left: 21vw;
        }
        .best {
          width: 80vw;
          max-width: 100%;
        }
        .best .img-container {
          display: flex;
          gap: 14px;
          width: 15vw;
          padding-left: 14vw;
          margin-top: -6vh;
          text-align: left;
        }
        .best .img-container .image a span {
          width: 14vw;
          font-size: 1.0em;
          padding-left: 2em;
        }
        .best .img-container .image a p {
          width: 100%;
          padding-left: 0.2em;
      
        }
        .img-container .image a p .eye {
          width: 12px;
          height: 12px;
          position: relative;
          top: 2px;
        }
      }