.best {
  margin: auto;
  width: 100%;
  position: relative;
  padding-top: 10vh;
  font-family: 'DM Sans', sans-serif;
}

.best .image {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.best a {
  text-decoration: none;
  color: #000;
}
.best .image img {
  width: 100%;
}
.best .image a span {
  line-height: 100%;
  float: left;
}
.best .image a p {
  float: left;
  position: relative;
  bottom: 10px;
}

.best .image a p .eye {
  width: 15%;
  position: relative;
  top: 3px;
}


              /*FOR TABLETS*/

@media only screen and (min-width: 768px) {
  
  .best {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-top: 10vh;
  }
  .best .image {
    margin-top: 5vh;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .best .image a span {
    line-height: 100%;
    float: left;
  }
  .best .image a p {
    position: relative;
    bottom: 13px;
  }
  .best .image a p .eye {
    position: relative;
    top: 3px;
    width: 13%;
  }
}


      /*SMALL SCREEN LAPTOP*/

      @media only screen and (min-width:1025px) {

        .best {
          width: 95vw;
          max-width: 100%;
          padding-top: 10vh;
        }    
        .best .best-container {
          display: flex;
          gap: 16px;
          width: 16vw;
          padding-left: 15vw;
          margin-top: -6vh;
          text-align: left;
        }
        .best-container .image a span {
          width: 14vw;
          
        }
        .best-container .image a p {
          width: 100%;
          
      
        }
        .best-container .image a p .eye {
          width: 12px;
          height: 12px;
          position: relative;
          top: 2px;
        }
        Footer {
          display: none;
        }
      }
      
      @media only screen and (min-width:1440px) {
        .best {
          width: 100vw;
          max-width: 100%;
          margin-top: -1vh;
        }
        .best .best-container {
          display: flex;
          gap: 19px;
          width: 16vw;
          padding-left: 17vw;
          margin-top: -6vh;
          text-align: left;
        }
        .best-container .image a span {
          width: 50vw;
          padding-left: 0em;
        }
        .best-container .image a p {
          width: 100%;
          padding-left: 0em;
        }
        .best-container .image a p .eye {
          width: 12px;
          height: 12px;
          position: relative;
          top: 1px;
          right: 3px;
        }
      }