.categories-wrapper {
  display: flex;
  gap: 12px;
  padding: 5px 35px;
  border-bottom: 0.5px solid #000;
  transition: 0.4s ease;
}

@media screen and (min-width: 1025px) {
  .categories-wrapper {
    font-size: 12px;
    position: relative;
    left: -180px;
    bottom: 10px;
  }
}
