.deskcat {
  display: none;
}
  .cat {
    display: flex;
    flex-direction: row;
    gap: 12px;
   padding: 5px 35px;
   border-bottom: 0.5px solid #000;
   transition: 0.4s ease;
  }
  .cat span {
    font-size: 18px;
  }

  @media screen and (min-width: 1028px) {
    .cat {
      display: none;
    }
    .deskcat {
      display: contents;
    }
    .deskcat span {
      font-size: 17px;
      position: relative;
    left: -205px;
      bottom: 25px;
     
    }
    .deskcat img {
      width: 8%;
      height: 8%;
      padding: 2px 4px;
      position: relative;
      left: -210px;
    }
    .deskcat .arrow {
      width: 7%;
      height: 7%;
    }
  }
  /*@media only screen and (min-width: 1200px) {
    .cat {
      display: none;
    }
    .deskcat {
      display: contents;
    }
    .deskcat span {
      font-size: 18px;
      position: relative;
      left: -235px;
      bottom: 20px;
    }
    .deskcat img {
      width: 40px;
      height: 40px;
      position: relative;
      left: -225px;
      padding-right: 25px;
    }
  }*/

