.desk-drop {
  display: none;
}
  .droplink {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 30px;
    transform: translateY(15px);
    transition: 0.4s ease;
  }
  .droplink li {
    border-bottom: 0.5px solid #000;
    display: flex;
    padding: 15px 15px;
  }
  .droplink li a {
    text-decoration: none;
    color: #000;
  }

  @media only screen and (min-width: 1025px) {
    .desk-drop {
      display: contents;
    }
    .desk-drop .droplink {
      margin-left: 5%;
      margin-top: -15px;
    }
    .desk-drop .droplink li {
      border-bottom: 0.5px 
      solid #0000002a;
      margin-left: -60px;
      padding-left: 80px;
    }
  }