
  .footer {
    margin: auto;
    width: 100px;
    padding-top: 30px;
  }
  .footer .foot {
    font-weight: 500;
    font-size: 10px;
    text-align: justify;
  }



@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    margin: auto;
    width: 100%;
    justify-content: center;
    padding-left: 50px;
  }
  .footer .foot {
    width: 1340px;
    height: 59px;
    padding: 4px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 2560px) {
  .footer {
    margin: auto;
    width: 100%;
    padding-left: 10%;
  }

  .footer .foot {
    width: 75%;
    text-align: justify;
    font-size: 35px;
    margin-left: 10%;
    margin-bottom: 3%;
  }
  .footer .foot img {
    width: 10%;
  }
}