.desk-menu {
  display: none;
}
  .home {
    margin: auto;
    width: 100%;
    position: relative;
    padding-top: 25px;
    font-family: 'DM Sans', sans-serif;
  }
  
  .home .image {
    margin-top: 5vh;
  }
  
  .home a {
    text-decoration: none;
    color: #000;
  }
  .home .image img {
    width: 100%;
  }
  .home .image a span {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    float: left;
  }
  
  .home .image a p {
    font-size: 13px;
    float: left;
    position: relative;
    bottom: 10px;
  }
  
  .home .image a p .eye {
    width: 15%;
    position: relative;
    top: 3px;
  }
  
  .page .pages {
    width: 100%;
    justify-items: center;
    display: flex;
    gap: 12px;
  }
  
  .page .pages li {
    list-style: none;
    text-align: center;
    gap: 10px;
  }
  
  .page .pages li img {
    position: relative;
    top: 3px;
  }


@media only screen and (min-width: 425px) {
  .desk-menu {
    display: none;
  }
 
  .home {
    margin: auto;
    width: 100%;
    margin-top: 1vh;
    font-family: 'DM Sans', sans-serif;
  }
  
  .home .image {
    margin-top: 5vh;
    width: 100%;
    align-content: center;
  }
  .home .image img {
    width: 100%;
  }
  
  .home a {
    text-decoration: none;
    color: #000;
  }
  
  .home .image a span {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    float: left;
  }
  
  .home .image a p {
    font-size: 15px;
    position: relative;
    bottom: 10px;
    float: left;
  }
  
  .home .image a p .eye {
    position: relative;
    top: 3px;
    width: 13%;
  }
  
  .page .pages {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .page .pages li {
    list-style: none;
    text-align: center;
  }
  
  .page .pages li img {
    position: relative;
    top: 3px;
  }
}

@media only screen and (min-width: 1440px) {
  
  .home {
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 30px;
  }
  .home .image {
    width: 200px;
    padding: 0px 16px;
    position: relative;
    left: 19%;
    
  }
  .home .image a span {
    width: 220px;
    font-size: 13px;
    margin-left: -32px;
  }
  .home .image a p {
    width: 220px;
    font-size: 10px;
    margin-left: -70px;
  }
  .home .image a p .eye {
    width: 12px;
  }
  
  .page .pages {
    margin: auto;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
  
  .page .pages li {
    list-style: none;
    text-align: center;
  }
  
  .page .pages li img {
    position: relative;
    top: 3px;
  }
}