  .home {
    margin: auto;
    width: 100%;
    position: relative;
    padding-top: 10vh;
    font-family: 'DM Sans', sans-serif;
  }
  .home .image {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .home a {
    text-decoration: none;
    color: #000;
  }
  .home .image img {
    width: 100%;
  }
  .home .image a span {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    float: left;
  }
  .home .image a p {
    font-size: 13px;
    float: left;
    position: relative;
    bottom: 10px;
  }
  .home .image a p .eye {
    width: 15%;
    position: relative;
    top: 3px;
  }
  

  .page .pages {
    width: 100%;
    justify-items: center;
    display: flex;
    gap: 12px;
  }
  .page .pages li {
    list-style: none;
    text-align: center;
    gap: 10px;
  }
  .page .pages li img {
    position: relative;
    top: 3px;
  }

                    /*FOR TABLETS*/

  @media only screen and (min-width: 768px) {
  
  .home {
    margin: 0 auto;
    width: 100%;
    padding-top: 10vh;
  }
  
  .home .image {
    margin-top: 5vh;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .home .image a span {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    float: left;
  }
  
  .home .image a p {
    font-size: 15px;
    position: relative;
    bottom: 13px;
  }
  
  .home .image a p .eye {
    position: relative;
    top: 3px;
    width: 13%;
  }
  
  .page .pages {
    display: flex;
    flex-direction: row;
    gap: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
  .page .pages li {
    list-style: none;
    text-align: center;
  }
  
  .page .pages li img {
    position: relative;
    top: 4px;
    left: 2px;
  }
}
/*use em on searchbar*/

@media only screen and (min-width:1025px) {

  .home {
    width: 95vw;
    max-width: 100%;
    padding-top: 8vh;
  }
  .home .home-container {
    display: flex;
    gap: 18px;
    width: 16vw;
    padding-left: 15vw;
    margin-top: -6vh;
    text-align: left;
  }
  .home-container .image a span {
    width: 14vw;
    font-size: 1em;
  }
  .home-container .image a p {
    width: 100%;
    top: -1vh;
    font-size: 1em;

  }
  .home-container .image a p .eye {
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
  }
  .page .pages {
    width: 80%;
    padding-left: 34vw;
  }
  .social {
    width: 100%;
    padding-left: 5vw;
  }
  .home-footer {
    width: 120vw;
    position: relative;
    margin-left: -18vw;
  }
}

@media only screen and (min-width:1440px) {
  .home {
    width: 100vw;
    max-width: 100%;
    margin-top: -1vh;
  }
  .home .home-container {
    display: flex;
    gap: 19px;
    width: 16vw;
    padding-left: 17vw;
    margin-top: -6vh;
    text-align: left;
  }
  .home-container .image a span {
    width: 50vw;
    font-size: 1.1em;
    padding-left: 0em;
  }
  .home-container .image a p {
    width: 100%;
    padding-left: 0em;
    font-size: 1.1em;

  }
  .home-container .image a p .eye {
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
    right: 3px;
  }
  .home-footer {
    width: 113vw;
    position: relative;
    margin-left: -8vw;
  }
  
}