.usernav {
  display: none;
}
.clip {
  margin: auto;
  width: auto;
  font-family: 'DM Sans', sans-serif;
  margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.clip .clip1 .cancel {
  float: left;
}
.clip .clip1 h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1px;
}

.clip2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.clip2 .clip3 .user {
  font-weight: 500;
  font-size: 20px;
}
.clip2 .clip3 .dp {
  position: relative;
  bottom: 10px;
}
.clip2 .clip4 {
  display: block;
  text-align: left;
  position: relative;
  top: 21px;
}
.clip2 .clip4 .details {
  padding: 5px 15px;
}
.clip2 .clip4 .details li {
  list-style: none;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 10px;
}
.clip2 .clip4 .details1 {
 position: relative;
 bottom: 113px;
 left: 60px;
}
.clip2 .clip4 .details1 li {
  list-style: none;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 10px;
}

.clip6 {
  margin-top: -100px;
  width: 100%;
}
.clip6 .topic {
  display: flex;
  gap: 18px;
  border-bottom: 0.3px solid #000;
}
.clip6 .topic a {
  font-weight: 500;
  font-size: 13px;
}
.clip6 .topic .tag1 {
  color: #008000;
}
.clip7 {
  margin: auto;
  width: 100%;
}
.clip7 .image img{
  width: 100%;
}
.clip7 .image a span {
  float: left;
}
.clip7 .image a p {
  float: left;
}
.clip7 .image a p .eye {
  width: 15%;
}

@media only screen and (min-width: 1025px) {
  .usernav {
    display: contents;
  }
  .clip7 .clip-container {
    display: flex;
    gap: 16px;
    width: 15vw;
    padding-left: 16em;
    position: relative;
    bottom: 18em;
  }
  .clip-container .image {
    width: 14vw;
  }
  .clip-container .image a span {
    width: 14vw;
    font-size: 0.75em;
    position: relative;
    right: 1em;
  }
  .clip-container .image a p {
    width: 100%;
    position: relative;
    right: 2.5em;
  }
  .clip7 .image a p .eye {
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
  }
  .clip6 {
    position: relative;
    left: 22%;
  }
  .clip6 .topic {
    font-size: 16px;
    gap: 6em;
    position: relative;
    bottom: 18em;
  }
  .clip4 {
    font-size: 16px;
    margin-top: 20em;
    right: 10em;
  }
  .clip3 .dp {
    width: 150px;
    position: relative;
    left: 1em;
    top: 6em;
  }
  .clip3 .user {
    width: 100%;
    position: relative;
    top: 4.5em;
    left: 270px;
  }
.clip1 h2 {
  position: relative;
  top: 9em;
  left: -30.5em;
}
  .clip1 .cancel {
    display: none;
  }

}

