.usernav {
  display: none;
}
.clip {
  margin: auto;
  width: auto;
  font-family: 'DM Sans', sans-serif;
  margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.clip .clip1 .cancel {
  float: left;
}
.clip .clip1 h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1px;
}

.clip2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.clip2 .clip3 .user {
  font-weight: 500;
  font-size: 20px;
}
.clip2 .clip3 .dp {
  position: relative;
  bottom: 10px;
}
.clip2 .clip4 {
  display: block;
  text-align: left;
  position: relative;
  top: 21px;
}
.clip2 .clip4 .details {
  padding: 5px 15px;
}
.clip2 .clip4 .details li {
  list-style: none;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 10px;
}
.clip2 .clip4 .details1 {
 position: relative;
 bottom: 113px;
 left: 60px;
}
.clip2 .clip4 .details1 li {
  list-style: none;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 10px;
}

.clip6 {
  margin-top: -100px;
  width: 100%;
}
.clip6 .topic {
  display: flex;
  gap: 18px;
  border-bottom: 0.3px solid #000;
}
.clip6 .topic a {
  font-weight: 500;
  font-size: 13px;
}
.clip6 .topic .tag1 {
  color: #008000;
}
.clip7 {
  margin: auto;
  width: 100%;
}
.clip7 .image img{
  width: 100%;
}
.clip7 .image a span {
  float: left;
}
.clip7 .image a p {
  float: left;
}
.clip7 .image a p .eye {
  width: 15%;
}

@media only screen and (min-width: 1440px) {
  .usernav {
    display: contents;
  }
  .clip7 {
    display: flex;
  }
  .clip7 .image {
    margin-top: 5px;
    width: 210px;
    padding: 10px 10px;
    position: relative;
    left: 20%;
  }
  .image a span {
    width: 220px;
    font-size: 13px;
    position: relative;
    right: 30px;
  }
  .image a p {
    width: 220px;
    height: 17px;
    position: relative;
    right: 55px;
  }
  .clip7 .image a p .eye {
    width: 17px;
  }
  .clip6 {
    margin-top: -55px;
    position: relative;
    left: 20%;
  }
  .clip6 .topic {
    font-size: 13px;
    gap: 60px;
  }
  .clip4 .details {
    position: relative;
    top: 150%;
    right: 150px;
  }
  .clip4 .details1 {
    position: relative;
    top: 103%;
    margin-left: -80%;
  }
  .clip3 .dp {
    width: 160px;
    position: relative;
    left: 45px;
    top: 120px;
  }
  .clip3 .user {
    width: 100%;
    position: relative;
    top: 100px;
    left: 270px;
  }
.clip1 h2 {
  position: relative;
  top: 155px;
  left: -600px;
}
  .clip1 .cancel {
    display: none;
  }

}

