.desktop-navbar {
  display: none;
}
  .header {
    top: 0;
    width: 100%;
    height: 45px;
    position: fixed;
    background-color: #ffffffb9;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: -8px;
    gap: 15vw;
    z-index: 90;
  }
  .header .logo {
    position: relative;
    top: 6px;
    left: 10px;
  }
  .header .menu-btn {
    position: relative;
    top: 8px;
  }
  .header .user {
    position: relative;
    top: 8px;
  }
  .header .search-bar {
    position: relative;
    top: 8px;
    left: 30px;
  }
  



@media screen and (min-width: 768px) {
  .header {
    top: 0%;
    width: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 17%;
    z-index: 90;
    padding-top: 15px;
  }
  .header .logo {
    position: relative;
    top: -10%;
    left: 10px;
  }
  .header .menu-btn {
    position: relative;
    top: -5px;
  }
  .header .user {
    position: relative;
    top: -5px;
  }
  .header .search-bar {
    position: relative;
    top: -5px;
    left: 12px;
  }
}

@media screen and (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
  .desktop-navbar {
    top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100vw;
    position: fixed;
    background-color: #fff;
    display: flex;
    z-index: 90;
    border-bottom: 0.5px solid #000;
  }
  .logo button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .logo {
    width: 19vw;
    height: 26px;
    padding-left: 1vw;
    margin-top: -5px;
    
  }
  .searchbar {
    margin-top: -50px;
    margin-left: -20vw;
  }
  .desktop-account {
    display: flex;
    background: none;
    margin-top: -10px;
    margin-left: 85vw;
    gap: 20px;
  }
  .desktop-account .log {
    color: #008000;
    background-color: #F4F4F4;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
  }
  .desktop-account .regis {
    color: #fff;
    background-color: #008000;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 1200px) {
  .desktop-navbar {
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 10px;
  }
  .logo img{
    width: 141px;
    height: 26px;
    margin-left: 30px;
  }
  .logo button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  .searchbar {
    margin-top: -50px;
  }
  .desktop-account {
    position: relative;
    top: 5px;
    margin-right: 50px;
    gap: 30px;
  }
  .desktop-account .log {
    padding: 15px 20px;
    font-size: 13px;
  }
  .desktop-account .regis {
    padding: 15px 20px;
    font-size: 13px;
  }
}

