.new {
margin: auto;
width: 100%;
position: relative;
padding-top: 10vh;
font-family: 'DM Sans', sans-serif;
}
.new .image {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.new a {
  text-decoration: none;
  color: #000;
}
.new .image img {
  width: 100%;
}
.new .image a span {
  line-height: 100%;
  float: left;
}
.new .image a p {
  float: left;
  position: relative;
  bottom: 10px;
}
.new .image a p .eye {
  width: 15%;
  position: relative;
  top: 3px;
}


              /*FOR TABLETS*/

@media only screen and (min-width: 768px) {
  
  .new {
    margin: 0 auto;
    width: 100%;
    padding-top: 5vh;
  }
  .new .image {
    margin-top: 5vh;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .new .image a span {
    line-height: 100%;
    float: left;
  }
  
  .new .image a p {
    position: relative;
    bottom: 13px;
  }
  
  .new .image a p .eye {
    position: relative;
    top: 3px;
    width: 13%;
  }
}


      /*SMALL SCREEN LAPTOP*/

      @media only screen and (min-width:1025px) {
       
        .new {
          width: 95vw;
          max-width: 100%;
          padding-top: 10vh;
        }
        .new .new-container {
          display: flex;
          gap: 18px;
          width: 16vw;
          padding-left: 15vw;
          margin-top: -6vh;
          text-align: left;
        }
        .new-container .image a span {
          width: 14vw;
        }
        .new-container .image a p {
          width: 100%;
        }
        .new-container .image a p .eye {
          width: 12px;
          height: 12px;
          position: relative;
          top: 2px;
        }
      }
      
      @media only screen and (min-width:1440px) {
        .new {
          width: 100vw;
          max-width: 100%;
          margin-top: -1vh;
        }
        .new .new-container {
          display: flex;
          gap: 19px;
          width: 16vw;
          padding-left: 17vw;
          margin-top: -6vh;
          text-align: left;
        }
        .new-container .image a span {
          width: 50vw;
          padding-left: 0em;
        }
        .new-container .image a p {
          width: 100%;
          padding-left: 0em;
        }
        .new-container .image a p .eye {
          width: 12px;
          height: 12px;
          position: relative;
          top: 1px;
          right: 3px;
        } 
      }