
.no {
  margin: auto;
  width: auto;
  font-family: 'DM Sans', sans-serif;
}
.no .no1 .cancel {
  float: left;
}
.no .no1 h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1px;
}

.no2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.no2 .no3 .user {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  left: 0.5em;
}
.no2 .no3 .dp {
  position: relative;
  bottom: 10px;
}
.no2 .no4 {
  display: block;
  text-align: left;
  position: relative;
  top: 21px;
}
.no2 .no4 .de {
  padding: 5px 15px;
}
.no2 .no4 .de li {
  list-style: none;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 10px;
}
.no2 .no4 .de1 {
 position: relative;
 bottom: 113px;
 left: 60px;
}
.no2 .no4 .de1 li {
  list-style: none;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 10px;
}

.no6 {
  margin-top: -100px;
  width: 100%;
}
.no6 .to {
  display: flex;
  gap: 18px;
  border-bottom: 0.3px solid #000;
}
.no6 .to a {
  font-weight: 500;
  font-size: 13px;
}
.no6 .to .tag1 {
  color: #008000;
}
.no7 {
  margin: auto;
  width: 100%;
}
.no7 .tag33 {
  font-weight: 500;
  font-size: 20px;
  margin-top: -30px;
}
.no7 .tag44 {
  font-weight: 400;
  font-size: 10px;
}

@media only screen and (min-width: 1025px) {
  .no .usernav {
    display: contents;
  }
  .no6 {
    position: relative;
    left: 22%;
  }
  .no6 .to {
    font-size: 16px;
    gap: 6em;
    position: relative;
    bottom: 18em;
  }
  .no4 {
    font-size: 16px;
    margin-top: 20em;
    right: 17em;
  }
  .no3 .dp {
    width: 150px;
    position: relative;
    left: -2em;
    top: 6em;
  }
  .no3 .user {
    width: 100%;
    position: relative;
    top: 4.5em;
    padding-left: 10em;
  }
  .no1 h2 {
    position: relative;
    top: 9em;
    right: 35em;
  }
    .no1 .cancel {
      display: none;
    }
    .no7 {
      position: relative;
      bottom: 13em;
      justify-content: center;
    }
}

