.usernav {
  display: none;
}
.not {
  margin: auto;
  width: auto;
  font-family: 'DM Sans', sans-serif;
}
.not .not1 .cancel {
  float: left;
}
.not .not1 h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1px;
}

.not2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.not2 .not3 .user {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  left: 10px;
}
.not2 .not3 .dp {
  position: relative;
  bottom: 10px;
}
.not2 .not4 {
  display: block;
  text-align: left;
  position: relative;
  top: 21px;
}
.not2 .not4 .deta {
  padding: 5px 15px;
}
.not2 .not4 .deta li {
  list-style: none;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 10px;
}
.not2 .not4 .deta1 {
 position: relative;
 bottom: 113px;
 left: 60px;
}
.not2 .not4 .deta1 li {
  list-style: none;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 10px;
}

.not6 {
  margin-top: -100px;
  width: 100%;
}
.not6 .topics1 {
  display: flex;
  gap: 18px;
  border-bottom: 0.3px solid #000;
}
.not6 .topics1 a {
  font-weight: 500;
  font-size: 13px;
}
.not6 .topics1 .tag1 {
  color: #008000;
}


.dot-1 {
  margin: auto;
  width: 100%;
  margin-bottom: -6em;
}
.dot-1 .dot1 {
  position: relative;
  right: 11em;
}
.dot-1 .dot2 {
  position: relative;
  right: 9em;
  bottom: 25px;
}
.dot-1 .dot3 {
  font-size: 13px;
  text-align: center;
  position: relative;
  bottom: 60px;
}
.dot-1 .dot4 {
  position: relative;
  left: 9.4em;
  bottom: 5.3em;
}
.dot-1 .dot5 {
  font-size: 10px;
  position: relative;
  bottom: 6em;
  right: 4.3em;
 
}

@media only screen and (min-width:768px) {
  .not3 .user {
    position: relative;
    left: 1em;
  }
  .not3 .dp {
    position: relative;
    left: 1em;
  }
  .not4 {
    position: relative;
    left: 1em;
  }
  .dot-1 {
    max-width: 100%;
  }
  .dot-1 .dot1 {
    position: relative;
    right: 23em;
  }
  .dot-1 .dot2 {
    right: 21em;
  }
  .dot-1 .dot3 {
    right: 15em;
  }
  .dot-1 .dot5 {
    right: 14em;
  }
  .dot-1 .dot4 {
    left: 21em;
  }
}

@media only screen and (min-width: 1025px) {
  .not .usernav {
    display: contents;
  }
  .not6 {
    position: relative;
    left: 22%;
  }
  .not6 .topics1 {
    font-size: 16px;
    gap: 6em;
    position: relative;
    bottom: 18em;
  }
  .not4{
    font-size: 16px;
    margin-top: 20em;
    margin-left: -18em;
    position: relative;
  }
  .not3 .dp {
    width: 150px;
    position: relative;
    margin-right: 5em;
    top: 6em;
  }
  .not3 .user {
    width: 100%;
    position: relative;
    padding-left: 10em;
    top: 4.5em;
  }
  .not1 h2 {
    position: relative;
    top: 9em;
    right: 35em;
  }
    .not1 .cancel {
      display: none;
    }
    .dot-1 {
      width: 100vw;
      max-width: 100%;
      display: flex;
      justify-content: center;
      gap: 10em;
      position: relative;
      bottom: 16.5em;
      margin-bottom: 2em;
    }
    
    .dot-1 .dot1 {
      width: 6px;
      height: 6px;
      position: relative;
      left: 9em;
    }
    .dot-1 .dot2 {
      position: relative;
      top: 0em;
      left: 0em;
    }
    .dot-1 .dot5 {
      position: relative;
      top: 1em;
      right: 36em;
      font-size: 10px;
    }
    .dot-1 .dot3 {
      position: relative;
      right: 10em;
      top: 0em;
    }
    .dot-1 .dot4{
      position: relative;
      left: 20em;
      top: -1em;
    }
   
}

