.usernav {
  display: none;
}
.desktop-notification-profile {
  display: none;
}
.not {
  margin: auto;
  width: auto;
  font-family: 'DM Sans', sans-serif;
}
.not .not1 .cancel {
  float: left;
}
.not .not1 h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1px;
}

.not2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.not2 .not3 .user {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  left: 10px;
}
.not2 .not3 .dp {
  position: relative;
  bottom: 10px;
}
.not2 .not4 {
  display: block;
  text-align: left;
  position: relative;
  top: 21px;
}
.not2 .not4 .deta {
  padding: 5px 15px;
}
.not2 .not4 .deta li {
  list-style: none;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 10px;
}
.not2 .not4 .deta1 {
 position: relative;
 bottom: 113px;
 left: 60px;
}
.not2 .not4 .deta1 li {
  list-style: none;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 10px;
}

.not6 {
  margin-top: -100px;
  width: 100%;
}
.not6 .topics1 {
  display: flex;
  gap: 18px;
  border-bottom: 0.3px solid #000;
}
.not6 .topics1 a {
  font-weight: 500;
  font-size: 13px;
}
.not6 .topics1 .tag1 {
  color: #008000;
}
.noification-image {
  display: flex;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1rem;
}
.noification-image .red {
  width: 12px;
  height: 12px;
  margin-top: 0.5em;
}
.noification-image .avatar {
  width: 32px;
  height: 32px;
  padding-left: 10px;
}
.noification-image .notify {
  font-weight: 500;
  font-size: 13px;
  width: 100%;
}
.noification-image .time {
  font-weight: 500;
  font-size: 10px;
  margin-right: 11rem;
  margin-top: 0rem;
}
.noification-image .display {
  width: 60px;
  height: 50px;
  border-radius: 4px;
}


@media only screen and (min-width: 1025px) {
  .not .usernav {
    display: contents;
  }
  .mobile-profile {
    display: none;
  }
  .desktop-notification-profile {
    display: contents;
  }
  .desktop-notification-profile-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2rem;
  }
  .desktop-notification-profile-info {
    text-align: left;
    position: relative;
    top: 2rem;
    margin-left: 1em;
  }
  .desktop-notification-dp {
    width: 160px;
    height: 160px;
    margin-left: 3rem;
  }
  .desktop-notification-user-details {
    text-align: left;
    list-style: none;
    margin-left: 2.1rem;
  }
  .desktop-notification-topics {
    margin-top: -15rem;
    margin-bottom: 1rem;
    margin-left: 25.5rem;
    margin-right: -12rem;
    border-bottom: 1px solid #000;
  }
  .desktop-notification-topics .tag {
    padding-left: 3rem;
    position: relative;
    right: 20rem;
  }
  .desktop-notification-topics .tag1 {
    position: relative;
    right: 20rem;
    color: #008000;
  }
  .notification-content {
    margin-left: 30%;
    width: 70%;
  }
  .noification-image span {
    margin-left: -28em;
  }
  .noification-image .display {
    margin-left: 15rem;
  }
    
}

