.liked-navbar {
  display: none;
}
.nov9 {
  display: none;
}
.desktop-footer {
  display: none;
}
.nov {
  margin: auto;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}
.nov .nov1 .cancel {
  float: left;
}
.nov .nov1 h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1px;
}

.nov2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nov2 .nov3 .user {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  left: 10px;
}
.nov2 .nov3 .dp {
  position: relative;
  bottom: 10px;
}
.nov2 .nov4 {
  display: block;
  text-align: left;
  position: relative;
  top: 21px;
}
.nov2 .nov4 .detail {
  padding: 5px 15px;
}
.nov2 .nov4 .detail li {
  list-style: none;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 10px;
}
.nov2 .nov4 .detail1 {
 position: relative;
 bottom: 113px;
 left: 60px;
}
.nov2 .nov4 .detail1 li {
  list-style: none;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 10px;
}

.nov6 {
  margin-top: -100px;
  width: 100%;
}
.nov6 .topics {
  display: flex;
  gap: 18px;
  border-bottom: 0.3px solid #000;
}
.nov6 .topics a {
  font-weight: 500;
  font-size: 13px;
}
.nov6 .topics .tag1 {
  color: #008000;
}


.nov7 {
  margin: auto;
  width: 100%;
}
.nov7 .tag3 {
  font-weight: 500;
  font-size: 20px;
  margin-top: -30px;
}
.nov7 .tag4 {
  font-weight: 400;
  font-size: 10px;
}

@media only screen and (min-width: 1025px) {
  .nov .liked-navbar {
    display: contents;
  }
  .nov6 {
    position: relative;
    left: 22%;
  }
  .nov6 .topics {
    font-size: 16px;
    gap: 6em;
    position: relative;
    bottom: 18em;
  }
  .nov4 {
    font-size: 16px;
    margin-top: 20em;
    right: 8em;
  }
  .nov3 .dp {
    width: 150px;
    position: relative;
    left: 1em;
    top: 6em;
  }
  .nov3 .user {
    width: 100%;
    position: relative;
    top: 4.5em;
    left: 270px;
  }
  .nov1 h2 {
    position: relative;
    top: 9em;
    right: 37em;
  }
    .nov1 .cancel {
      display: none;
    }
    .nov7 {
      position: relative;
      bottom: 13em;
      justify-content: center;
    }
    
}

