
  .register {
    background: url('../Assets/Frame16.png');
    background-attachment: fixed;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    margin: auto;
    font-family: 'DM sans', sans-serif;
    color: #FEFEFE;
    overflow: hidden;
  }
  
  .reg {
    background-color: rgba(0, 0, 0, 0.788);
    background-attachment: fixed;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: -5px;

  }
  .reg .back-4 {
    position: fixed;
    top: 30px;
    right: 30px;
  }
  
  .reg h1 {
    padding-top: 70px;
    color: #fff;
    text-align: center;
  }
  
  .reg fieldset {
    border: none;
  }
  
  .reg label {
    font-size: 16px;
    display: block;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 500;
  }
  
  .reg .put {
    display: block;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 2px;
    background: none;
    box-sizing: border-box;
    border: 0.5px solid #fefefe56;
    font-size: 16px;
  }
  
  .reg .btn {
    padding: 15px 36vw;
    border-radius: 4px;
    color: #FEFEFE;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #008000;
  }
  
  .reg .btn-1 {
    margin-top: 4vh;
  }
  .reg .btn-1 a{
    text-decoration: underline 1px #008000;
    color: #008000;
  }
  
  .or-reg .or {
    font-size: 16px;
    position: relative;
    bottom: 65px;
  }
  
  .or h1 {
    font-size: 16px;
    font-weight: 500;
  }
  
  .or img {
    position: relative;
    bottom: 6px;
  }
  
  .register-social {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: -10vh;
  }
  
  .back {
    position: fixed;
    top: 6vh;
    right: 6vw;
  }
  
@media only screen and (min-width: 1440px) {
  .reg-1 {
    margin-top: 11%;
    margin-bottom: 12%;
  }
  .reg-2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #fff;
  }
  .reg-2 .put {
    padding: 15px;
    width: 85%;
    margin-left: 50px;
    position: relative;
    bottom: 40px;
  }
  .reg .back-4 {
    border: 1px solid #008000;
    background-color: #008000;
    padding: 12px;
    position: sticky;
    left: 75%;
    top: 14%;

  }
  .reg-2 label {
    margin-left: 50px;
    position: relative;
    bottom: 45px;
  }
  .reg-2 .btn {
    padding: 15px 18vw;
    position: relative;
    bottom: 20px;
  }
  .reg-2 h1 {
    padding-top: 150px;
    position: relative;
    bottom: 60px;
  }
}