
.register {
  background: url('../Assets/Frame16.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: fit-content;
  width: 100vw;
}
.reg {
  background-color: rgba(0, 0, 0, 0.788);
  background-attachment: fixed;
  height: fit-content;
  width: 100vw;
}
.reg-1 {
  margin-top: -95px;
  align-items: center;
 overflow: hidden;
}
.reg .back-4 {
  margin-top: 20px;
  margin-left: 90%;
  position: relative;
}

.reg h1 {
  padding-top: 70px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.reg fieldset {
  border: none;
}

.reg label {
  font-size: 20px;
  display: block;
  margin-top: 5px;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 500;
  position: relative;
  left: 15px;
}

.reg .put {
  width: 80%;
  padding: 16px 18px 16px;
  margin-bottom: 15px;
  border: 1px solid #fefefe56;
  border-radius: 4px;
  background: none;
  font-size: 12px;
}

.reg .btn {
  padding: 16px 37%;
  border-radius: 4px;
  background-color: #008000;
  color: #FEFEFE;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.reg .btn-1 {
  margin-top: 4vh;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 13px;
  position: relative;
  bottom: 15px;
  padding-bottom: 50%;
}
.reg .btn-1 a{
  text-decoration: underline 1px #008000;
  color: #008000;
}

.or-reg .or {
  margin-top: -40px;
  font-size: 16px;
  position: relative;
  bottom: 30px;
}

.or h1 {
  margin: auto;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  bottom: -5px;
}

.or img {
  position: relative;
  bottom: 6px;
  width: 110px;
}

.register-social {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  bottom: 15px;
}


@media screen and (min-width: 768px) {
  .back-4 {
    position: relative;
    top: 50px;
    right: 120px;
  }
  .reg-1 {
    margin-top: 5px;
  }
  .reg-2 {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid #fff;
    margin-bottom: 250px;
  }
  .reg-2 .put {
    width: 90%;
    padding: 16px 18px 16px;
  margin-bottom: 15px;
  border: 1px solid #fefefe56;
  border-radius: 4px;
  background: none;
  font-size: 12px;
  }
  .reg-2 label {
    font-size: 20px;
  display: block;
  margin-top: 5px;
  margin-bottom: 8px;
  text-align: left;
  font-weight: 500;
  position: relative;
  left: 12px;
  }
  .reg-2 .btn {
    padding: 16px 42%;
    border-radius: 4px;
    background-color: #008000;
    color: #FEFEFE;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    bottom: 10px;
  }
  .reg-2 .btn-1 {
    font-size: 16px;
    margin-bottom: -270px;
  }
}
@media only screen and (min-width: 1025px) {
  .reg-2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 400px;
  }
  .back-4 {
    position: fixed;
    top: 3em;
    right: 19em;
  }
  
}