.desktop-search {
  display: none;
}

.searchForm {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: 2.7em;

}
.mobile-navbar-input {
  padding-left: 0.6rem;
}
.mobile-search-btn {
position: absolute;
margin-top: 0.20rem;
width: 16px;
height: 16px;
left: 16.3em;
cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .searchForm {
    width: 100%;
    margin-top: 2.8em;
  }
  .mobile-navbar-input {
    padding-right: 15em;
  }
  .mobile-search-btn {
    position: absolute;
    margin-top: 0.20rem;
    width: 16px;
    height: 16px;
    left: 34.5em;
   }
}


@media only screen and (min-width: 1025px) {
  .mobile-search {
    display: none;
  }
  .desktop-search {
    display: contents;
  }
  .searchForm {
    position: fixed;
    width: 75%;
    margin-left: 14em;
    margin-top: 2.5em;
    
  }
  .searchForm input{
    width: 70%;
  padding-top: 0.8em ;
  padding-bottom: 0.8em;
  padding-left: 1em;
  border-radius: 8px;
  font-size: 13px;
  border: 0.5px solid #000000;
}
.desktop-search-btn {
  width: 25px;
  position: absolute;
  margin-top: 0.4em;
  left: 82%;
}
}

@media only screen and (min-width: 1440px) {
  .searchForm {
    position: fixed;
    width: 80%;
    margin-left: 16em;
    margin-top: 2.5em;
    
  }
  .searchForm input{
    width: 70%;
  padding-top: 0.8em ;
  padding-bottom: 0.8em;
  padding-left: 1em;
  border-radius: 8px;
  font-size: 13px;
  border: 0.5px solid #000000;
}
.desktop-search-btn {
  width: 25px;
  position: absolute;
  margin-top: 0.4em;
  left: 82%;
}
}


