
.search-container {
  display: flex;
  align-items: center;
  width: 89%;
  max-width: 350px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
  margin-top: 2.5rem;
  margin-left: 1.2rem;
}

.search-input {
  flex: 1;
  padding: 10px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

.search-button {
  background-color: #0a8f24; /* The green color from your image */
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-results {
  min-height: 100px;
  position: relative;
  top: 6rem;
}

.loading-placeholder {
  font-weight: bold;
  text-align: center;
  color: green;
}


@media only screen and (min-width: 768px) {
  /* Base styles */


.search-container {
  margin-left: 7rem;
}

.search-input {
  flex: 1;
  padding: 6px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
}

.search-button {
 /* The green color from your image */
  padding: 6px 14px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
}


@media (min-width: 1025px) {
  .search-container {
    max-width: 500px;
    margin-left: 18.5rem;
  }
}

@media (min-width: 1361px) {
  .search-container {
    max-width: 600px;
    margin-left: 26rem;
    margin-top: 7vh;
  }
}

@media (min-width: 1440px) {
  .search-container {
    max-width: 700px;
    bottom: 43.6em;
  }
}



/*.desktop-search {
  display: none;
}

.searchForm {
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-top: 2.7em;

}
.mobile-navbar-input {
  padding-left: 0.6rem;
}
.mobile-search-btn {
position: absolute;
margin-top: 0.20rem;
width: 16px;
height: 16px;
left: 16.3em;
cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .searchForm {
    width: 100%;
    margin-top: 2.8em;
  }
  .mobile-navbar-input {
    padding-right: 15em;
  }
  .mobile-search-btn {
    position: absolute;
    margin-top: 0.20rem;
    width: 16px;
    height: 16px;
    left: 34.5em;
   }
}


@media only screen and (min-width: 1025px) {
  .mobile-search {
    display: none;
  }
  .desktop-search {
    display: contents;
  }
  .searchForm {
    position: fixed;
    width: 75%;
    margin-left: 14em;
    margin-top: 2.5em;
    
  }
  .searchForm input{
    width: 70%;
  padding-top: 0.8em ;
  padding-bottom: 0.8em;
  padding-left: 1em;
  border-radius: 8px;
  font-size: 13px;
  border: 0.5px solid #000000;
}
.desktop-search-btn {
  width: 25px;
  position: absolute;
  margin-top: 0.4em;
  left: 82%;
}
}

@media only screen and (min-width: 1440px) {
  .searchForm {
    position: fixed;
    width: 80%;
    margin-left: 16em;
    margin-top: 2.5em;
    
  }
  .searchForm input{
    width: 70%;
  padding-top: 0.8em ;
  padding-bottom: 0.8em;
  padding-left: 1em;
  border-radius: 8px;
  font-size: 13px;
  border: 0.5px solid #000000;
}
.desktop-search-btn {
  width: 25px;
  position: absolute;
  margin-top: 0.4em;
  left: 82%;
}
}*/