form {
  position: absolute;
  margin-top: -9vh;
  margin-left: 2vh;
  
}

button {
  background-color: #008000;
  border: #008000;
  padding: 12px 16px;
  border-radius: 0 8px 8px 0px;
}
.searchForm input {
  padding-top: 3.5vw;
  padding-bottom: 3vw;
  padding-right: 30vw;
}