.acc {
  margin: auto;
  width: auto;
  font-family: 'DM Sans', sans-serif;
}
.acc .set1 .cancel {
  float: left;
}
.acc .set1 h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 1px;
}

.set2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.set2 .set3 .user {
  font-weight: 500;
  font-size: 20px;
}
.set2 .set3 .dp {
  position: relative;
  bottom: 10px;
}
.set2 .set4 {
  display: block;
  text-align: left;
  position: relative;
  top: 21px;
}
.set2 .set4 .det {
  padding: 5px 15px;
}
.set2 .set4 .det li {
  list-style: none;
  font-weight: 500;
  font-size: 10px;
  padding-bottom: 10px;
}
.set2 .set4 .det1 {
 position: relative;
 bottom: 113px;
 left: 60px;
}
.set2 .set4 .det1 li {
  list-style: none;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 10px;
}

.set6 {
  margin-top: -100px;
  width: 100%;
}
.set6 .top {
  display: flex;
  gap: 18px;
  border-bottom: 0.3px solid #000;
}
.set6 .top a {
  font-weight: 500;
  font-size: 13px;
}
.set6 .top .tag1 {
  color: #008000;
}


.acc2 {
  margin: auto;
  width: 100%;
}
.acc2 fieldset form {
  display: grid;
}
.acc2 fieldset form label {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
}
.get1 {
  font-size: 10px;
  font-weight: 400;
  padding: 12px 16px;
  border: 1px solid #0000006e;
  border-radius: 8px;
}
.get2 {
  padding: 15px 20px;
  margin-top: 15px;
  color: #fff;
  background-color: #008000;
  border: #008000;
}