.dashboard {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding-top: 0.5rem;
  border-bottom: 0.5px solid #000;
  
  z-index: 100;
}
.dashboard .logo {
position: relative;
left: 20px;
}
.profile {
  position: relative;
  left: 100%;
  bottom: 5px;
}
.user {
  position: relative;
  bottom: 12px;
  right: 10px;
}
.dashboard .searchbar {
  position: relative;
  left: 7em;
}

