.dashboard {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
  border-bottom: 0.5px solid #000;
}
.dashboard .logo {
position: relative;
left: 20px;

}
.profile {
  position: relative;
  left: 100%;
  bottom: 5px;
}
.user {
  position: relative;
  bottom: 12px;
  right: 10px;
}
.dashboard .searchbar {
  margin-top: 20px;
}

