.dashboard {
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding-top: 0.5rem 1.5rem;
  border-bottom: 0.5px solid #000;
  
  z-index: 100;
}
.dashboard .logo {
position: relative;
left: 20px;
}
.profile {
 padding-left: 80rem;
}
.user {
  position: relative;
  bottom: 12px;
  right: 10px;
}
.dashboard .searchbar {
padding-left: 7rem;
position: relative;
bottom: 0.2rem;
}

