.deskver {
  display: none
}
  .ver {
    display: flex;
  flex-direction: row;
  gap: 12px;
 padding: 5px 35px;
 border-bottom: 0.5px solid #000000ad;
 transition: 0.4s ease;
  }
  .ver span {
    font-size: 18px;
  }
@media screen and (min-width: 1025px) {
  .ver {
    display: none;
  }
  .deskver {
    display: contents;
  }
  .deskver span {
    font-size: 12px;
    position: relative;
    left: -181px;
    bottom: 15px;
  }
  .deskver img {
    width: 4%;
    height: auto;
    padding: 2px 4px;
    position: relative;
    left: -184px;
  }
  .deskver .verarrow{
    width: 4%;
    height: auto;
    position: relative;
    bottom: 6px;
    left: -175px;
  }
  
}

