
.view {
  padding-top: 50px;
  margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.view-1{
  font-family: 'DM sans', sans-serif;
}

.view-1 span {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  margin-left: 8px;
}

.view-1 span h5 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 3px;
}

.view-1 .links {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  bottom: 10px;
  left: -10px;
}
.view-1 .links a {
  text-decoration: none;
  color: #000;
  padding: 0 5px;
  font-size: 14px;
}

.view-1 .react {
  display: flex;
}

.react a {
  text-decoration: none;
  color: #000;
  padding-right: 45px;
}

.react a p{
  position: relative;
  bottom: 40px;
  left: 25px;
}

.view-1 .view-2 {
 margin-left: 250px;
 position: relative;
 bottom: 75px;
}

.view-1 .view-2 p {
  margin-left: 50px;
  position: relative;
  bottom: 40px;;
}

.comment {
  display: flex;
  width: 350px;
  height: 17px;
  gap: 5px;
  margin-top: -100px;
}

.comment p {
  margin-top: -1px;
}

.comment-1 .com {
  display: flex;
  width: 114px;
  height: 30px;
  margin-top: 30px;
  gap: 10px;
}

.com span {
  width: 45px;
  height: 17px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  position: relative;
  bottom: 3px;
  left: -3px;
}

.com p {
  font-weight: 400;
  font-size: 13px;
  margin-left: 14vw;
  margin-top: 9px;
  position: relative;
  bottom: 2px;
  left: -3px;
}

.com-1 {
  display: flex;
}

.com-1 p {
  font-weight: 400;
  font-size: 12px;
}

.com-2 {
  display: flex;
  width: 146px;
  height: 18px;
  gap: 15px;
  margin-left: 45vw;
  margin-top: -3vw;
}

.com-2 p {
  margin-top: 1px;
}

.write {
  margin-top: 5vw;
  margin-bottom: 10vw;
}

.write input {
  width: 276px;
  height: 33px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.write button {
  width: 64px;
  color: #fff;
  background-color: #008000;
  border: none;
  padding: 11px 8px;
}

.related span {
  font-size: 20px;
  font-weight: 500;
  margin-right: 55vw;
  position: relative;
  bottom: 10px;
}

 a {
  text-decoration: none;
  color: #000;
}

.image a span {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin-right: 150px;
}

.image a p {
  font-size: 13px;
  margin-right: 240px;
  position: relative;
  bottom: 10px;
}

.image a p .eye {
  position: relative;
  top: 3px;
}

.back-1 a {
  font-weight: 500;
  font-size: 16px;
  color: #008000;
}


@media only screen and (min-width: 768px) {
.view {
  padding-top: 85px;
  padding-bottom: 80px;
}
.view-1{
  font-family: 'DM sans', sans-serif;
}

.view-1 span {
  display: flex;
  font-weight: 500;
  font-size: 16px;
}

.view-1 span h5 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
}

.view-1 .links {
  margin-right:  45px;
  position: relative;
  bottom: 10px;
  float: left;
}
.view-1 .links a {
  text-decoration: none;
  color: #000;
  padding: 0 5px;
  font-size: 13px;
}
.view-1 .play {
  width: 100%;
}

.view-1 .react {
  display: flex;
}

.react a {
  text-decoration: none;
  color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 65px;
}

.react a p{
  position: relative;
  bottom: 40px;
  left: 25px;
}

.view-1 .view-2 {
 margin-left: 250px;
 position: relative;
 bottom: 87px;
 left: 100px;
}

.view-1 .view-2 p {
  margin-left: 50px;
  position: relative;
  bottom: 40px;
}
.comments {
  margin: auto;
  width: 100%;
}
.comment {
  display: flex;
  width: 350px;
  height: 17px;
  gap: 10px;
  margin-top: -100px;
}

.comment p {
  margin-top: -1px;
}

.comment-1 .com {
  display: flex;
  width: 114px;
  height: 30px;
  margin-top: 30px;
  gap: 15px;
}

.com span {
  width: 45px;
  height: 17px;
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
}

.com p {
  font-weight: 400;
  font-size: 13px;
  margin-left: 5vw;
  margin-top: 9px;
}

.com-1 {
  display: flex;
}

.com-1 p {
  font-weight: 400;
  font-size: 12px;
}

.com-2 {
  display: flex;
  width: 146px;
  height: 18px;
  gap: 15px;
  margin-left: 73vw;
  margin-top: -3vw;
}

.com-2 p {
  margin-top: 1px;
}

.write {
  margin-top: 3vw;
  margin-bottom: 10vw;
}

.write input {
  width: 276px;
  height: 33px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0px 45vw 0px 2vw;
}

.write button {
  width: 64px;
  color: #fff;
}

.related span {
  float: left;
  font-weight: 500;
}

 a {
  text-decoration: none;
  color: #000;
}
.related .image {
  width: 100%;
}
.related .image img {
  width: 100%;
}

.image a span {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin-right: 150px;
  position: relative;
  top: 5px;
}

.image a p {
  font-size: 13px;
  float: left;
  margin-right: 250px;
  position: relative;
  bottom: 10px;
}

.image a p .eye {
  width: 15px;
  position: relative;
  top: 3px;
}

.back-1 {
  position: absolute;
  top: 40px;
  right: 0;
  margin-right: 10px;
}
.back-1 a {
  font-weight: 500;
  font-size: 16px;
  color: #008000;
}
}

@media only screen and (min-width: 1025px) {
.view {
  margin: auto;
  width: 100%;
}
.view-1 span {
  font-weight: 500;
  font-size: 20px;
  margin-left: 1.5em;
}
.view-1 span h5 {
  font-size: 18px;
}
.view-1 .links {
  font-size: 13px;
  left: -490px;
}
.view-1 .play {
  width: 1340px;
  height: auto;
  
}
.view-1 .react {
  margin-left: 2em;
  margin-top: 20px;
}
.view-2 {
  position: relative;
  margin-top: 0.1em;
  margin-right: 60em;
}

.comments {
  margin-left: 50px;
}
.comments .comment {
  width: 1340px;
  height: 21px;
}
.comment-1 {
  width: 1340px;
  height: 312px;
}
.comment-1 .com p {
  position: relative;
  right: 160px;
}
.com span {
  font-size: 16px;
  margin-top: 5px;
}
.com-1 p {
  font-size: 13px;
}
.com-2 {
  width: 146px;
  height: 18px;
  position: relative;
  left: 480px;
}

.write input {
  width: 40em;
}
.write .send {
  padding: 10px 5px;
  margin-left: 1em;
}
.related {
  margin-top: -5em;
  width: 100%;
  justify-content: center;
}
.related .relate {
  font-weight: 500;
  font-size: 18px;
  position: relative;
  left: 3em;
}
.rel {
  display: flex;
  position: relative;
  top: 3em;
  width: 100%;
}
.rel .image {
  padding: 0px 10px;
}
.rel .image a span {
  width: 100%;
  right: 4em;
}
.rel .image a p {
  width: 100%;
  right: 8em;
  top: 0em;
}
.back-1 {
  display: none;
}
}
