
.warn {
  background: url('../Assets/frame.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'DM Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.warn1 {
  background-color: rgba(0, 0, 0, 0.815);
  background-attachment: fixed;
  height: fit-content;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.warn2 {
  margin-top: -20px;
  overflow: hidden;
}
.warn3 h1 {
font-weight: 600;
font-size: 20px;
color: #008000;
padding-top: 40px;
}

.warn3 .go2 {
font-weight: 600;
font-size: 20px;
text-align: center;
margin-top: -5px;
color: #fff;
}

.warn4 {
  width: auto;
  height: 340px;
  justify-content: space-between;
  margin: -2vh 0px 0px;
  padding-right: 15px;
}
.warn4 .go3 {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 15px;
  text-align: left;
}
.warn4 .go4 {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  padding-left: 20px;
  text-align: justify;
}


.warn5 {
  width: 100%;
  color: #fff;
  text-align: justify;
  padding: 0px 11px;
  margin-top: -220px;
}
.warn5 p {
  padding-right: 20px;
}

.warn6 {
  width: auto;
  height: 110px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: -30px;
  padding-bottom: 60%;
  margin-top: 15%;
}

.warn6 .go5 {
  color: #fff;
  background-color: #008000;
  padding: 20px 26vw;
  border: none;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  margin-bottom: 5%;
}
.warn6 .go6 {
  background-color: #808080;
  color: #fff;
  padding: 20px 29vw;
  border: none;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
.warn-1 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 1px solid #fff;
  margin-bottom: 200px;
  position: relative;
  top: 5em;
}
.warn3 .go {
  font-size: 30px;
}
.warn3 .go2 {
margin-top: -15px;
}
.warn4 {
  width: 95%;
}
.warn4 .go3 {
  font-size: 18px;
}
.warn4 .go4 {
  font-size: 16px;
}
.warn5 {
  width: 90%;
  padding-top: 25px;
}
.warn5 form p {
  font-size: 18px;
  position: relative;
  left: 10px;
}
.warn6 {
  margin-bottom: -230px;
}
.warn6 .go5 {
  padding: 20px 31%;
  font-size: 16px;
}
.warn6 .go6 {
  padding: 20px 33%;
  font-size: 16px;
}
}

@media only screen and (min-width: 1025px) {
  .warn-1 {
    border: 0.1px solid #fff;
    background-color: #8080800e;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 1em;
}
.warn2 {
  overflow-y: hidden;
}
.warn6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -25em;
}
.warn6 .go5 {
  padding: 20px 70px;
}
.warn6 .go6 {
  padding: 20px 80px;
}
}

@media only screen and (min-width: 1440px) {
  .warn-1 {
    position: relative;
    top: 9em;
    border: 0.1px solid #fff;
    background-color: #8080800e;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 550px;
    overflow-y: hidden;
}
.warn2 {
  overflow-y: hidden;
}
.warn6 .go5 {
  padding: 20px 70px;
}
.warn6 .go6 {
  padding: 20px 80px;
}
}