.his {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 40px;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.his-1 {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
}
.his-1 span {
  width: 100%;
  float: left;
  font-weight: 500;
  font-size: 20px;
}
.his-1 p {
  width: 300%;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  top: 18px;
  right: 210px;
}
.his .his-2 .image {
  margin-top: 4vh;
}

.his a {
  text-decoration: none;
  color: #000;
}
.his-2 .image img {
  width: 100%;
}
.his-2 .image a span {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  float: left;
}

.his .image a p {
  font-size: 13px;
  float: left;
  position: relative;
  bottom: 10px;
}

.his .image a p .eye {
  width: 15%;
  position: relative;
  top: 3px;
}

.his .pages {
  width: 100%;
  justify-items: center;
  display: flex;
  gap: 12px;
}

.his .pages li {
  list-style: none;
  text-align: center;
  gap: 10px;
}

.his .pages li img {
  position: relative;
  top: 3px;
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
.his {
  margin: auto;
  width: 100%;
  margin-top: 1vh;
  font-family: 'DM Sans', sans-serif;
}

.his .image {
  margin-top: 5vh;
  width: 100%;
  align-content: center;
}
.his .image img {
  width: 100%;
}

.his a {
  text-decoration: none;
  color: #000;
}

.his .image a span {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  float: left;
}

.his .image a p {
  font-size: 15px;
  position: relative;
  bottom: 10px;
  float: left;
}

.his .image a p .eye {
  position: relative;
  top: 3px;
  width: 13%;
}

.his .pages {
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.his .pages li {
  list-style: none;
  text-align: center;
}

.his .pages li img {
  position: relative;
  top: 3px;
}
}

@media only screen and (min-width: 1440px) {
  .his-1 {
    margin: auto;
    width: 100%;
  }
  .his-1 span {
    margin-left: 270px;
    font-size: 20px;
    margin-top: 2%;
  }
  .his-1 p {
    position: relative;
    top: 50px;
    right: 125px;
  }
  .his-2 {
    display: flex;
    margin: auto;
    width: 100%;
  }
  .his .his-2 .image {
    width: 200px;
    padding: 0px 16px;
    position: relative;
    left: 19%;
  }
  .his .his-2 .image a span {
    width: 220px;
    font-weight: 500;
    font-size: 13px;
    margin-left: 2px;
  }
  .his .his-2 .image a p {
    width: 220px;
    font-size: 10px;
    margin-left: -10px;
  }
  .his .his-2 .image a p .eye {
    width: 12px;
  }
}

@media only screen and (min-width: 2560px) {
  .desk-menu {
    display: contents;
  }
  .his .his-1 span {
    font-size: 40px;
    font-weight: 500;
    margin-left: 19%;
    position: relative;
    top: 50px;
    right: 3%;
  }
  .his .his-1 p {
    font-size: 30px;
    position: relative;
    top: 150px;
    right: 9%;
  }
  .his {
    margin-top: 90px;
    margin-left: 4%;
  }
  .his .his-2 .image {
    width: 15%;
    padding: 10px 25px;
  }
  .his .his-2 .image a span {
    width: 100%;
    font-size: 40px;
    right: 50px;
  }
  .his .his-2 .image a p {
    width: 100%;
    font-size: 37px;
    right: 100px;
    top: 10px;
    padding-bottom: 10px;
  }
  .his .his-2 .image a p .eye {
    width: 30px;
    padding-right: 5px;
  }
}


