.his {
  margin: auto;
  width: 100%;
  padding-top: 100px;
  position: relative;
  font-family: 'DM Sans', sans-serif;
}
.his-1 {
  display: flex;
  position: relative;
  bottom: 2px;
}
.his-1 span {
  float: left;
  font-weight: 500;
  font-size: 16px;
}
.his-1 p {
  font-weight: 500;
  font-size: 10px;
  position: relative;
  top: 20px;
  right: 105px;
}
.his .his-2 .image {
  margin-top: 9vh;
}

.his a {
  text-decoration: none;
  color: #000;
}
.his-2 .image img {
  width: 100%;
}
.his-2 .image a span {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  float: left;
}

.his .image a p {
  font-size: 13px;
  float: left;
  position: relative;
  bottom: 10px;
}

.his .image a p .eye {
  width: 15%;
  position: relative;
  top: 3px;
}

.his .pages {
  width: 100%;
  justify-items: center;
  display: flex;
  gap: 12px;
}

.his .pages li {
  list-style: none;
  text-align: center;
  gap: 10px;
}

.his .pages li img {
  position: relative;
  top: 3px;
}


@media only screen and (min-width: 425px) and (max-width: 767px) {
.his {
  margin: auto;
  width: 100%;
  margin-top: 1vh;
  font-family: 'DM Sans', sans-serif;
}

.his .image {
  margin-top: 5vh;
  width: 100%;
  align-content: center;
}
.his .image img {
  width: 100%;
}

.his a {
  text-decoration: none;
  color: #000;
}

.his .image a span {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  float: left;
}

.his .image a p {
  font-size: 15px;
  position: relative;
  bottom: 10px;
  float: left;
}

.his .image a p .eye {
  position: relative;
  top: 3px;
  width: 13%;
}

.his .pages {
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.his .pages li {
  list-style: none;
  text-align: center;
}

.his .pages li img {
  position: relative;
  top: 3px;
}
}